<main>
    <h1>The Whole Prime Number Checker</h1>
    <p>This is a WebSite you can check if the number you input is a prme.</p>
    <footer>
        <p>Name: Yan Zhang.</p>
        <p>Student ID: 10440738</p>
        <p>Major: Computer Science.</p>
    </footer>
    <br />
    <div class="error" id="error" hidden>

    </div>
    <br />

    <form method="POST" id="myForm">
        <label for="num_input">Enter A Number: </label>
        <input type="number" id="num_input" placeholder="check here">
        <button type="submit">Submit</button>
    </form>

    <ol id="attempts">

    </ol>

</main>

