<main>
    <h1>People Finder</h1>
    <p> This is a WebSite to search people. Please enter what your want to search.</p>
    <form action = "/search" method = "POST">
        <label>
            Search name
            <input type="text" name = "name"/>
        </label>
        <button type = "submit">Search</button>
    </form>
</main>