<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>The Whole Prime Number Checker</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    {{{body}}}
    <script src="public/js/validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>